<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/add_product.css" />
</head>
<body>
    <%- include('../layout/nav.ejs') %>
 
    <% if(   prods.length > 0) { %>
<ul>
    <% prods.forEach(product=>{ %>
<li>
    <p><%= product.productData.productTitle %> (<%= product.qty %>)</p>
<form action="/cart-delete-item" method="post">
    <input type="hidden" name="id" value="<%= product.productData.id %>">
    <button class="btn" type="submit"> Delete</button>
</form>
</li>
        <% }) %>
</ul>
        <% } else { %>
            <h1>Empty cart</h1>
            <% } %>

</body>
</html>