<header class="nav-header"> 
    <nav class="main-hader_nav">
        <ul class="header-item_list">
            <li class="header-item">
                <a href="/" class="<%= path ==='/' ?  'active': '' %>">Shop</a>
            </li>

            <li class="header-item">
                <a href="/admin/add-products" class="<%= path === '/admin/add-products' ?  'active': '' %>">Add Products</a>
            </li>
            <li class="header-item">
                <a href="/products">Products</a>
            </li>
        </ul>
    </nav>
</header>